@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: 6px white solid;
  box-shadow: 6px 6px 10px;
}

figure {
      margin: 15px;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Raleway, Roboto, sans-serif;
}

header, main, footer {
max-width: 1000px;
text-align: center;
}

header, footer {
    background-color: rgb(0, 122, 204);
    color: white;
    font-family: Raleway;
} 

section {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

header {
    padding: 20px;
}

nav a{
    color: white;
    display: none;
}

nav.open a {
  display: grid;
  grid-row: 1fr;
  justify-content: center;
  font-size: 1.4em;
  padding: 10px;
}

.menubtn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 2em;
    text-align: center;
    color: white;
}

main {
    background-color: rgb(207, 207, 207);
    padding: 20px;
}

main h1 {
    font-size: 2.3em;
}

header h1 {
    text-align: center;
    font-size:3em;
}

footer {
    padding: 5px;
}



@media (min-width: 769px) and (max-width: 1024px) {
    section {
        grid-template-columns: 1fr 1fr;
    }
}


@media (min-width: 1024px) {
    header, main, footer {
        max-width: none;
    }

    main {
        justify-items: center;
    }

    section {
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
        max-width: 1200px;
        margin-top: 50px;
    }

    .menubtn {
        display: none;
    }

    nav a{
        display: inline;
        padding: 15px;
        font-size: 1.4em;
    }
}





/* modal */

dialog img {
    width: 90%;
    height: auto;
    display: block;
    margin: 20vh auto;
}
dialog {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.75);
}
.close-viewer {
    position: absolute;
    top: 10vh;
    right: 2vh;
    padding: 3px 6px;
    font-size: 1.5em;
    background-color: rgba(0, 0, 0, 0);
    color: aliceblue;
}

@media screen and (min-width: 700px) {
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 1000px) {
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }
    dialog img {
        width: 60%;
        margin: 15vh auto;
    }
    .close-viewer {
        position: absolute;
        right: 15vh;
    }
    .viewer {
        margin: 50px;
        padding: 50px;
    }
    .viewer img {
        max-width: 800px;
    }
}