main {
    width: 600px;
    justify-self: center;
    height: 650px;
    border:1px black solid;
    padding: 100px;
    padding-left: 150px;
    padding-right: 150px;
    font-size: 110%;
    word-spacing: 12%;
}

h1  {
    justify-self: center;
    font-size: 260%;
}

h2  {
    justify-self: center;
    font-size: 120%;
    margin-bottom: -1%;
    color: rgb(105, 159, 196);
}

hr  {
    margin-bottom: 8%;
}

p   {
    font-size: 120%;
    font-weight: 500;
}

li  {
    margin-top: 3%;
}

a   {
    display: flex;
    min-width: 100%;
    justify-content: center;
    margin-top: 20%;
}

img {
    width: 23%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}

span    {
    text-align: center;
    width: 700px;
}